.note {
  text-decoration: none;
  color: var(--primary-foreground);
  position: relative;
  cursor: pointer;
  display: block;
  padding: 1rem;
}

.note:hover {
  background: var(--foreground-min);
}

.note:hover .icon {
  background: var(--primary-background);
}

.icon {
  padding: 0.5rem;
  border-radius: 50%;
  background: var(--foreground-min);
  margin-right: 0.5rem;
}

.icon svg {
  display: block;
  padding: 0;
  margin-bottom: 0;
}
