.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: var(--primary-accent);
  z-index: 10;
  overflow: hidden;
  box-shadow: var(--box-shadow-large);
}

.headerLeft {
  text-decoration: none;
  font-weight: 600;
}

.header {
  padding: var(--content-x-padding);
  display: flex;
  justify-content: space-between;
}

.closeButton {
  border: none;
  padding: 0;
  background: none;
  line-height: 0;

  img {
    margin-bottom: 0;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 1rem 2rem;

  a {
    color: var(--primary-white);
    text-decoration: none;
    text-shadow: none;
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.5;
  }
}
