@keyframes menu {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 100vh;
  }
}

.menu {
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  background: var(--primary-accent);
  z-index: 50;
  overflow: hidden;
  box-shadow: var(--box-shadow-large);

  > button {
    position: absolute;
    text-align: right;
    right: 0.85rem;
    top: 0.9rem;
    background: none;
    border: none;
    padding: 2px;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem 2rem;

  a {
    color: var(--primary-white);
    text-decoration: none;
    text-shadow: none;
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.5;

    &:before {
      display: none;
    }
  }
}
