.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #6219ff;
  z-index: 10;
  overflow: hidden;
  box-shadow: var(--box-shadow-large);
}

.header {
  --home-link-color: #fff;
  background: #6219ff;
  position: relative;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 1rem 2rem;
}

.navigation a {
  color: #fff;
  text-shadow: none;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.5;
}
