.menu {
  --primary-accent: #6d28d9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--primary-accent);
  z-index: 10;
  overflow: hidden;
  box-shadow: var(--box-shadow-large);
}

.header {
  background: var(--primary-accent);
  position: relative;
}

.nav {
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 1rem 2rem;
}

.nav a {
  color: #fff;
}

.nav li + li {
  margin-top: 1rem;
}
