.blogposts {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  grid-column-gap: 1.5rem;
  /* grid-row-gap: 2.5rem; */
}

@media (min-width: 1024px) {
  .blogposts {
    padding-top: 0.375rem;
  }
}

@media (max-width: 767px) {
  .blogposts {
    grid-template-columns: 1fr;
  }
}

.blogposts a {
  text-decoration: none;
  color: var(--primary-foreground);
}
