{
    "extends": ["wesbos"],
    "rules": {
        "react/prop-types": 0,
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "es5",
                "singleQuote": true
            }
        ]
    }
}