.link {
  position: relative;
  color: var(--nav-text-color);
  text-decoration: none;
  padding: 0.375rem 0.625rem;
  text-decoration: none;
  margin-left: 0.375rem;
  border-radius: var(--border-radius);
}

.active {
  position: relative;
  background: var(--primary-accent);
  color: var(--primary-background);
}

@media (max-width: 767px) {
  .active {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
  }

  .link:after {
    content: url('data:image/svg+xml,%3Csvg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M15.3193 6.42654L19.2207 12L15.3193 17.5735L13.6808 16.4265L16.0794 13H6V11H16.0794L13.6808 7.57347L15.3193 6.42654Z" fill="white"%3E%3C/path%3E%3C/svg%3E');
    line-height: 0;
  }

  .link:after,
  .active:after {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .active:after {
    content: '\00B7';
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  .link:hover:not(.active) {
    color: var(--primary-foreground);
    background: var(--accent-lightest);
  }
}
