.link {
  position: relative;
}

.active {
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.25rem;
    height: 2px;
    background: var(--primary-accent);
  }
}
