.link {
  position: relative;
  color: var(--header-color);
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  margin-left: 0.5rem;
  border-radius: var(--border-radius);
}

.active {
  position: relative;
  background: var(--primary-accent);
  color: var(--primary-background);
}

@media (max-width: 767px) {
  .active {
    text-decoration: underline;
  }
}

@media (min-width: 768px) {
  .link:hover:not(.active) {
    color: var(--primary-foreground);
    background: var(--accent-lightest);
  }
}
