.link {
  position: relative;
  text-shadow: 1px 1px var(--primary-background),
    1px -1px var(--primary-background), -1px 1px var(--primary-background),
    -1px -1px var(--primary-background);
}

.active {
  position: relative;
}

.active:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1.5px;
  bottom: 2px;
  background: var(--primary-accent);
  z-index: -1;
}
