.button {
  color: var(--primary-foreground);
  border: none;
  border-radius: var(--border-radius);
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  cursor: pointer;
}

.fit {
  width: fit-content;
}

.fill {
  width: 100%;
}

.primary {
  border: 1px solid var(--primary-foreground);
  background: var(--primary-foreground);
  color: var(--primary-background);
}

.primary:hover {
  background: var(--foreground-max);
}

.secondary {
  border: 1px solid var(--foreground-low);
}

.secondary:hover {
  background: var(--foreground-low);
}

.link {
  text-decoration: none;
}

.icon {
  margin-right: 0.5rem;
}
