.buttonWrapper {
  display: inline-block;
  margin-right: 0.75rem;
}

.button {
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  background: var(--primary-foreground);
  color: var(--primary-background);
  font-size: 0.875rem;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.button:hover {
  background: var(--foreground-max);
}

.icon {
  margin-right: 0.5rem;
}
