.blogpost {
  composes: resources from '../pages/resources.module.css';
  --content-grid-template: 'sidebar content' 'sidebar moreposts'
    'sidebar footer';
}

.written p:first-of-type {
  margin-bottom: 0.25rem;
}

.written p:last-of-type {
  color: var(--foreground-medium);
}

.tags {
  margin: 0;
}

.tags div {
  cursor: pointer;
  font-size: 0.825rem;
  letter-spacing: 0.02rem;
  background: var(--primary-background);
  padding: 0.25rem 0.5rem;
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--primary-accent);
  text-transform: capitalize;
  font-weight: 500;
  border: 1px solid var(--primary-accent);
  border-radius: 1px;
}

.content {
  composes: content from '../pages/resources.module.css';
}

@media (max-width: 767px) {
  .blogpost {
    --content-grid-template: 'content' 'sidebar' 'moreposts' 'footer';
  }

  .postMeta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'written tags';
  }

  .written {
    grid-area: written;
  }

  .written p {
    margin-bottom: 0;
  }
}
