.wrapper {
  --header-background: none;
  --nav-color: var(--header-color);
}

.blogpost {
  width: 100%;
  display: grid;
  --content-grid-template: 'hero hero hero' 'sidebar content .'
    'sidebar moreposts .' 'sidebar footer .';
  padding-top: 0;
  grid-template-columns: var(--content-grid-columns);
  grid-template-areas: var(--content-grid-template);
}

.heroWrapper {
  grid-area: hero;
  margin-left: -1.5rem;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  min-height: 70px;
}

.tags {
  composes: tags from './blog-post.module.css';
}

.written {
  composes: written from './blog-post.module.css';
}

.content {
  composes: content from './blog-post.module.css';
}

.postMeta {
  composes: postMeta from './blog-post.module.css';
}

@media (max-width: 767px) {
  .blogpost {
    --content-grid-template: 'hero' 'content' 'sidebar' 'moreposts' 'footer';
  }
}
