.button {
  color: var(--primary-foreground);
  background-color: #fff;
  border: none;
  border-radius: var(--border-radius);
  font-weight: 500;
  font-family: "Inter";
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.button:hover {
  background-color: #d5d5d5;
}

.button:disabled {
  cursor: not-allowed;
}
