.film {
  --cover-width: 120px;
  display: grid;
  grid-template-areas: "cover title" "cover content";
  grid-template-columns: var(--cover-width) 1fr;
  grid-column-gap: 1.5rem;
  padding: 1.5rem 0;
}

.title {
  grid-area: title;
  margin-bottom: 0rem;
}

.cover {
  grid-area: cover;
}

.content {
  grid-area: content;
}

.content p {
  margin: 0;
}

.content > p > span {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .film {
    --cover-width: 100px;
    grid-template-areas: "title" "cover" "content";
    grid-template-columns: 1fr;
  }

  .cover > div:first-child {
    display: none;
  }

  .title {
    margin-bottom: 0.5rem;
  }
}
