.film {
  --cover-width: 100px;
  display: grid;
  grid-template-areas: "cover title" "cover content";
  grid-template-columns: var(--cover-width) 1fr;
  grid-column-gap: 1.5rem;
}

section.film + section.film {
  margin-top: 2rem;
}

.title {
  grid-area: title;
}

.cover {
  grid-area: cover;
}

.content {
  grid-area: content;
}

@media (max-width: 768px) {
  .film {
    --cover-width: 100px;
    grid-template-areas: "title" "cover" "content";
    grid-template-columns: 1fr;
  }

  .cover > div:first-child {
    display: none;
  }
}
