.masonry {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(275px, 0.5fr));
  padding: 68px 0.5rem 0;
}

@supports (grid-template-rows: masonry) {
  .masonry {
    grid-template-rows: masonry;
  }
}

.masonryItem {
  position: relative;
  overflow: hidden;
  font-size: 0;
  align-self: start;
}

.masonryItem img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.arrow {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  color: var(--primary-background);
  background: var(--primary-foreground);
  padding: 0.125rem;
}

.nav {
  position: sticky;
  bottom: 8vh;
  list-style-type: none;
  display: flex;
  text-transform: capitalize;
  background: var(--primary-background);
  padding: 0.75rem;
  border-radius: 50px;
  box-shadow: var(--box-shadow-large);
  z-index: 500;
  width: max-content;
  margin: 0 auto;
}

.nav a {
  display: block;
  text-decoration: none;
  color: var(--primary-foreground);
  padding: 0.375rem 1rem;
  border-radius: 30px;
}

.nav li + li {
  margin: 0;
  margin-left: 0.25rem;
}

.nav a:hover:not(.active a) {
  background: var(--foreground-min);
}

.active a {
  background: var(--foreground-low);
}

@media (max-width: 800px) {
  .nav {
    bottom: 2rem;
  }

  .masonry {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
    padding: 56px 0 0;
  }
}
