.tableOfContents a {
  text-decoration: none;
  color: inherit;
}

.tableOfContents li {
  list-style-type: none;
}

.tableOfContents a:hover:not(.active) {
  color: var(--foreground-hover);
}

.tableOfContents {
  --list-spacing: 0.75rem;
  list-style-type: none;
  margin-left: 0;
}

.tableOfContents li > ul {
  margin-top: var(--list-spacing);
}

.tableOfContents li + li {
  margin-top: var(--list-spacing);
}

.tableOfContents .active {
  text-decoration: revert;
  color: var(--primary-accent);
}

@media (min-width: 768px) {
  .tableOfContents {
    --list-spacing: 0.5rem;
    /* padding-bottom: 1rem; */
  }
}
