:root {
  --primary-black: #1f2937;
  --primary-white: #f9fafb;
  --primary-foreground: #1f2937;
  --primary-background: #f9fafb;
  --foreground-hover: #b6b6b6;
  --foreground-max: #374151;
  --foreground-high: #9ca3af;
  --foreground-low: #e6e6e6;
  --foreground-min: #f3f3f3;
  --primary-accent: #6d28d9;
  /* in contrast to the foreground */
  --accent-max: #292442;
  --accent-high: #5b43c4;
  --accent-low: #e6e1fd;
  --accent-min: #f5f3ff;
  --border-radius: 2px;
  --sidebar-width: 300px;
  --content-width: 100%;
  --max-content-width: 64ch;
  --max-layout-width: 1200px;
  --grid-areas: 'sidebar content' 'sidebar footer';
  --grid-columns: 320px minmax(0, 1fr);
  --grid-gap: 2rem;
  --alt-line-height: 1.45rem;
  --container-padding: 4.5rem;
  --content-x-padding: 1.5rem;
  --content-spacing-left: 10%;
  --header-background: var(--primary-background);
  --header-text-color: var(--primary-foreground);
  --box-shadow-large: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  --icon-fill: var(--primary-foreground);
}

:root.dark {
  --primary-foreground: #eee;
  --primary-background: #151515;
  --primary-accent: #8b5cf6;
  --accent-low: #5b21b6;
  --accent-min: #4c1d95;
  --accent-max: #ede9fe;
  --accent-high: #a78bfa;
  --accent-low: #382f62;
  --accent-min: #1f1c2f;
  --foreground-hover: #868686;
  --foreground-max: #d8d8d8;
  --foreground-high: #9ca3af;
  --foreground-low: #2b2b2b;
  --foreground-min: #262626;
}

@media (max-width: 767px) {
  :root {
    --content-x-padding: 1rem;
    --grid-areas: 'sidebar' 'content' 'footer';
    --grid-columns: 1fr;
    --grid-gap: 1.45rem;
    --content-spacing-left: 0;
  }
}
