:root {
  --primary-black: #333333;
  --primary-white: #ffffff;
  --primary-grey: #999999;
  --primary-dark-grey: #666666;
  --primary-light-grey: #f0f0f0;
  --primary-accent: #6219ff;

  --border-radius: 3px;

  --sidebar-width: 300px;
  --content-width: 70%;
}
