:root {
  --primary-foreground: #333333;
  --primary-background: #ffffff;
  --foreground-hover: #b6b6b6;
  --foreground-high: #666666;
  --foreground-medium: #757575;
  --foreground-low: #f0f0f0;
  --primary-accent: #6219ff;
  --accent-lighter: #e4deff;
  --accent-lightest: #f6f4ff;
  --border-radius: 2px;
  --sidebar-width: 300px;
  --content-width: 95%;
  --max-content-width: 740px;
  --max-layout-width: 1440px;
  --content-grid-template: 'sidebar content padding';
  --content-grid-columns: 340px minmax(0, 1fr) 2rem;
  --container-padding: 4.5rem;
  --content-x-padding: 1.5rem;
  --content-spacing-left: 10%;
  --header-background: var(--primary-background);
  --header-color: var(--primary-foreground);
  --nav-color: var(--header-color);
  --box-shadow-large: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  --icon-fill: var(--primary-foreground);
  --code-blocks: #383e49;
}

:root.dark {
  --primary-foreground: #eee;
  --primary-background: #151515;
  --primary-accent: #ac85ff;
  --accent-lighter: #382f62;
  --accent-lightest: #1f1c2f;
  --foreground-hover: #868686;
  --foreground-high: #f0f0f0;
  --foreground-medium: #999999;
  --foreground-low: #666666;
  --code-blocks: #232528;
}

@media (min-width: 768px) and (max-width: 1023px) {
  :root {
    --content-grid-template: 'sidebar content';
    --content-grid-columns: 200px minmax(0, 1fr);
  }
}

@media (max-width: 767px) {
  :root {
    --content-x-padding: 1rem;
    --content-grid-template: 'sidebar' 'content';
    --content-grid-columns: 1fr;
    --content-width: 100%;
    --content-spacing-left: 0;
  }
}
