.checkboxGroup {
  margin-bottom: 1.45rem;
  padding: 0.25rem 0;
}
.checkbox {
  margin-bottom: 1rem;
}
.checkbox + .checkbox {
  margin-bottom: 1rem;
}
.checkbox input[type='checkbox'] {
  height: 24px;
  width: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid var(--primary-foreground);
  border-radius: 4px;
  outline: none;
  transition-duration: 0.2s;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  vertical-align: bottom;
  margin-right: 0.625rem;
}
.checkbox input[type='checkbox']:checked {
  border: 1px solid var(--primary-accent);
  background-color: var(--primary-accent);
}
.checkbox input[type='checkbox']:checked:before {
  content: '\2713';
  display: block;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 0.25rem;
  top: -0.05rem;
  font-weight: 600;
}
.checkbox label,
.checkbox input {
  cursor: pointer;
}
