.share {
  grid-area: share;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--foreground-low);
  width: fit-content;
  border-radius: var(--border-radius);
  padding: 0.5rem 0.75rem 0.5rem 0.25rem;
  background: var(--foreground-min);
}

.share:hover {
  background: var(--foreground-low);
}

.share button {
  padding: 0.5rem;
  border: none;
  outline: none;
  color: var(--primary-foreground);
}

.share svg {
  display: block;
}

@media (max-width: 767px) {
  .share {
    padding: 1rem 0;
    justify-self: center;
    border: 1px solid var(--foreground-min);
    width: 100%;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
  }

  .share button {
    position: absolute;
    left: 1rem;
  }
}
