.resource {
  text-decoration: none;
  color: var(--primary-foreground);
  position: relative;
  cursor: pointer;
}

.resource article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0.5rem;
}

.resource:hover {
  cursor: pointer;
}

.resource h3 {
  line-height: 1.3;
  font-size: 1.125rem;
  margin-bottom: 0rem;
}

.active {
  background: var(--accent-min);
  border-radius: var(--border-radius);
}

.resource:hover:not(.active) {
  background: var(--foreground-min);
}

.resource:hover:after:not(.active) {
  background: var(--foreground-hover);
}

.resource svg path {
  fill: var(--primary-foreground);
}

.resource:not(.active):not(:hover) svg {
  display: none;
}

.active svg path {
  fill: var(--primary-accent);
}

.active:after {
  background: var(--primary-accent);
}
