.resource {
  text-decoration: none;
  color: var(--primary-black);
  position: relative;
  display: block;

  article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "content";
    align-items: center;
  }

  * {
    margin-bottom: 0;
  }

  small {
    font-weight: 400;
    display: block;
    line-height: 1;
    margin-bottom: 0.35rem;
    color: var(--primary-grey);
  }

  h3 {
    line-height: 1.3;
    font-size: 1.125rem;
    margin-bottom: 0rem;
    padding: 0.5rem 0.75rem;
  }

  p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 0.875rem;
  }
}

.active {
  color: var(--primary-accent);
  background: #e4deff;
  border-radius: var(--border-radius);
}
