.resource {
  text-decoration: none;
  color: var(--primary-foreground);
  position: relative;
  cursor: pointer;
}

.resource article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0;
}

.resource h3 {
  line-height: 1.3;
  font-size: 1.125rem;
  margin-bottom: 0rem;
}

.active {
  color: var(--primary-accent);
  border-radius: var(--border-radius);
}

.active:after,
.resource:hover:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
}

.resource:hover:not(.active) {
  color: var(--foreground-hover);
}

.resource:hover:not(.active) svg path {
  fill: var(--foreground-hover);
}

.resource:hover:after:not(.active) {
  background: var(--foreground-hover);
}

.resource svg path {
  fill: var(--primary-foreground);
}

.active svg path {
  fill: var(--primary-accent);
}

.active:after {
  background: var(--primary-accent);
}
