.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1.0875rem 1.45rem;
}

.container-fluid {
  width: 100%;
  padding: 0 var(--content-x-padding);
}

.container,
.container-fluid {
  --container-padding: 4.5rem;

  padding-top: var(--container-padding);
  padding-bottom: var(--container-padding);
}
