.track {
  display: grid;
  position: relative;
  grid-template-columns: 72px 1fr;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  text-decoration: none;
  grid-gap: 1rem;
}

.track:hover {
  background: var(--foreground-min);
}

.track:hover .title {
  text-decoration: revert;
}

.track:hover .arrow {
  stroke: var(--primary-foreground);
}

.arrow {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  stroke: transparent;
}
