.resource,
.resourceLink {
  text-decoration: none;
  color: var(--primary-foreground);
  position: relative;
  cursor: pointer;
}

.resourceLink article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0.5rem;
}

.resourceLink:hover {
  cursor: pointer;
}

.resourceLink h3 {
  line-height: 1.3;
  font-size: 1.125rem;
  margin-bottom: 0rem;
}

.active {
  display: block;
  background: var(--accent-min);
  border-radius: var(--border-radius);
}

.resourceLink:hover:not(.active) {
  background: var(--foreground-min);
}

.resourceLink:hover:after:not(.active) {
  background: var(--foreground-hover);
}

.resourceLink svg path {
  fill: var(--primary-foreground);
}

.resourceLink:not(.active):not(:hover) svg {
  display: none;
}

.active svg path {
  fill: var(--primary-accent);
}

.active:after {
  background: var(--primary-accent);
}

@media (max-width: 767px) {
  .active svg {
    display: none;
  }
}
