.home {
  --grid-areas: 'intro timeline' 'spotify timeline' 'spotify readng'
    'spotify readng' 'footer footer';
  --grid-columns: 1fr 1.25fr;
  grid-template-rows: minmax(0, 1fr);
  max-width: 1024px;
  align-items: flex-start;
  justify-items: flex-start;
}

.intro {
  grid-area: intro;
}

.intro h1 {
  font-size: 1.75rem;
}

.timeline {
  grid-area: timeline;
  padding-left: 1.5rem;
  align-self: stretch;
  max-height: 925px;
  overflow: auto;
}

.spotify {
  padding: 1.5rem;
  grid-area: spotify;
}

.readng {
  padding: 1.5rem;
  grid-area: readng;
}

@media (max-width: 767px) {
  .home {
    --grid-areas: 'intro' 'timeline' 'spotify' 'readng' 'footer';
    --grid-columns: 1fr;
    padding: var(--container-padding) 0 0;
  }

  .timeline {
    grid-area: timeline;
    padding-left: 1.5rem;
    align-self: stretch;
    max-height: 925px;
  }
}
