.home {
  --grid-areas: 'intro timeline' 'spotify timeline' '. timeline' 'footer footer';
  --grid-columns: 1fr 1.25fr;
  max-width: 1024px;
}

.intro {
  grid-area: intro;
}

.intro h1 {
  font-size: 1.75rem;
}

.timeline {
  grid-area: timeline;
  padding-left: 1.5rem;
}

.spotify {
  padding: 1.5rem;
  grid-area: spotify;
}

@media (max-width: 767px) {
  .home {
    --grid-areas: 'intro' 'timeline' 'spotify' 'footer';
    --grid-columns: 1fr;
  }
}
