.content {
  overflow: hidden;
  grid-area: content;
  width: var(--content-width);
  max-width: var(--max-content-width);
  margin: 0 auto;
  color: var(--primary-foreground);
}

.content :is(h2, h3, h4) {
  padding-top: 80px;
  margin-top: -80px;
}

.tableOfContents > li > ul {
  margin-top: 0;
  margin-left: 0;
}

@media (max-width: 767px) {
  .snippets {
    --grid-areas: 'title' 'description' 'context' 'content' 'footer';
  }

  .content :is(h2, h3, h4) {
    padding-top: 115px;
    margin-top: -115px;
  }
}
