.snippets {
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: var(--content-grid-columns);
  grid-template-areas: var(--content-grid-template);
}

.content {
  overflow: hidden;
  grid-area: content;
  width: var(--content-width);
  max-width: var(--max-content-width);
  margin: 0 auto;
  color: var(--primary-foreground);
}

.tableOfContents > li > ul {
  margin-top: 0;
  margin-left: 0;
}
