.snippets {
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: var(--content-grid-columns);
  grid-template-areas: var(--content-grid-template);
}

.content {
  overflow: hidden;
  grid-area: content;
  width: var(--content-width);
  margin-left: var(--content-spacing-left);
}

.tableOfContents {
  a {
    text-decoration: none;
    color: var(--primary-accent);
  }
  ul {
    list-style-type: none;
    font-weight: 400;
    p {
      font-weight: 550;
    }
    li > ul {
      margin-top: 0.6rem;
    }
    li {
      margin-bottom: 0.6rem;
    }
  }
  > ul {
    margin: 0;
  }
}
