.blogpost {
  padding: 0.5rem;
  border-radius: var(--border-radius);
}

.blogpost:hover {
  background: var(--foreground-min);
}

.blogpost section {
  color: var(--primary-foreground);
}

.blogpost:hover h2 {
  text-decoration: underline;
}

.blogpost a {
  display: grid;
  grid-template-columns: 114px 1fr;
  grid-template-areas: 'image content';
  grid-column-gap: 1rem;
  text-decoration: none;
}

@media (max-width: 767px) {
  .blogpost article {
    grid-template-columns: 112px 1fr;
  }
}
