.blogpost {
  text-decoration: none;
  color: var(--primary-foreground);
}

.blogpost:hover h2 {
  text-decoration: underline;
}

.blogpost article {
  display: grid;
  grid-template-columns: 114px 1fr;
  grid-template-areas: 'image content';
  grid-column-gap: 1rem;
}

.blogpost article > div {
  padding-top: 100%;
  height: 0;
}

.blogpost video {
  width: 100%;
}

.blogpost img {
  margin-bottom: 0;
}

.blogpost small {
  font-weight: 400;
  display: block;
  line-height: 1;
  margin-bottom: 0.35rem;
  color: var(--foreground-medium);
}

.blogpost h2 {
  line-height: 1.3;
  font-size: 1.125rem;
  margin-bottom: 0.35rem;
}

.blogpost p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.875rem;
  margin: 0;
}

.timeline {
  display: block;
  background: var(--primary-background);
  margin: 0;
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: 1.45rem;
}

.timeline article {
  align-items: center;
  grid-template-columns: 120px 1fr;
}

.timeline article > div {
  padding: 0;
  height: auto;
  align-self: stretch;
}

.timeline article section {
  padding: 1rem 1rem 1rem 0;
}

.timeline h2 {
  font-size: 1rem;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .blogpost article {
    grid-template-columns: 80px 1fr;
  }
}

@media (max-width: 767px) {
  .blogpost article {
    grid-template-columns: 112px 1fr;
  }

  .timeline {
    margin-left: -4rem;
  }

  .timeline article {
    grid-template-columns: 114px 1fr;
  }

  .timeline p {
    -webkit-line-clamp: 3;
  }
}
