.blogpost {
  text-decoration: none;
  color: var(--primary-black);

  article {
    display: grid;
    grid-template-columns: 114px 1fr;
    @media (min-width: 768px) and (max-width: 1280px) {
      grid-template-columns: 80px 1fr;
    }
    grid-template-areas: "image content";
    grid-column-gap: 1rem;

    @media (max-width: 767px) {
      grid-template-columns: 112px 1fr;
    }

    > div {
      padding-top: 100%;
      height: 0;
    }
  }

  * {
    margin-bottom: 0;
  }

  small {
    font-weight: 400;
    display: block;
    line-height: 1;
    margin-bottom: 0.35rem;
    color: var(--primary-grey);
  }

  img {
    width: 3rem;
  }

  video {
    width: 100%;
  }

  h3 {
    line-height: 1.3;
    font-size: 1.125rem;
    margin-bottom: 0.35rem;
  }

  p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 0.875rem;
  }
}

.no-thumbnail {
  article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "content";
  }
}
