.timeline {
  background: var(--primary-background);
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: 1.45rem;
}

.timeline a {
  align-items: center;
  grid-template-columns: 120px 1fr;
}

.timeline a > div {
  padding: 0;
  height: auto;
  align-self: stretch;
}

.timeline a section {
  padding: 1rem 1rem 1rem 0;
}

.timeline h2 {
  font-size: 1rem;
}

@media (max-width: 767px) {
  .timeline article {
    grid-template-columns: 114px 1fr;
  }
}
