.film {
  padding: 0.5rem;
  text-decoration: none;
  flex: 0 1 130px;
  color: var(--primary-foreground);
}

.film:hover {
  background: var(--foreground-min);
}

.wrapper {
  display: flex;
  width: 100%;
}

@media (max-width: 550px) {
  .film {
    flex: 0 0 30vw;
  }

  .letterboxd {
    margin-left: -1rem;
    margin-right: -1rem;
    width: 100vw;
  }

  .wrapper {
    padding: 0 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    /* Firefox */
    scrollbar-width: none;
    /* IE */
    ms-overflow-style: none;
  }

  /* hide horizontal scroll bar Chrome/Safari */
  .wrapper::-webkit-scrollbar-track,
  .wrapper::-webkit-scrollbar,
  .wrapper::-webkit-scrollbar-thumb {
    width: 0 !important;
  }
}

.image {
  border-radius: var(--border-radius);
}
