.header {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  max-width: var(--max-layout-width);
  padding: var(--content-x-padding);
  display: flex;
  justify-content: space-between;
  background: var(--header-background);

  * {
    font-weight: 600;
  }

  h4 {
    margin-bottom: 0;
    margin-right: 0.25rem;
    font-size: 1rem;
    text-transform: capitalize;
  }
}

.headerLeft,
.navigation {
  display: flex;
  align-items: center;
}

.navigation {
  a {
    margin-left: 1rem;
    color: var(--primary-black);
    text-decoration: none;
    font-size: 1rem;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

@media (max-width: 1440px) {
  .navigationAlt a {
    color: var(--primary-white);
    text-shadow: none;
  }
}

.headerLeft {
  a {
    text-decoration: none;
    color: var(--primary-black);
    margin-right: 1rem;
  }
}

.menuButton {
  border: none;
  padding: 0;
  background: none;
  line-height: 0;

  @media (min-width: 768px) {
    display: none;
  }

  img {
    margin: 0;
  }
}
