.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  background: var(--header-background);
  color: var(--header-color);
}

.container {
  --header-padding: 1rem;
  max-width: var(--max-layout-width);
  padding: var(--header-padding) var(--content-x-padding);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header * {
  font-weight: 600;
}

.header h4 {
  margin-bottom: 0;
  margin-right: 0.25rem;
  text-transform: capitalize;
}

.headerLeft,
.headerRight {
  display: flex;
  align-items: center;
}

.headerLeft {
  margin-left: -0.5rem;
}

.headerLeft a {
  text-decoration: none;
  color: var(--header-color);
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.menuButton {
  border: none;
  padding: 0;
  background: none;
  line-height: 0;
  margin-left: 1.25rem;
}

.avatar {
  margin-right: 0.25rem;
}

@media (max-width: 1024px) {
  .header {
    --header-padding: 0.5rem;
  }
  .headerLeft a {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .navigation {
    display: none;
  }
}

@media (min-width: 768px) {
  .menuButton {
    display: none;
  }

  .toggle {
    position: fixed;
    top: calc(100vh - 3.5rem);
    right: 1.5rem;
  }
}
.menuButton img {
  margin: 0;
}

@media (max-width: 1440px) {
  .navigationAlt a {
    color: var(--primary-background);
  }
}
