.wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 10;
  top: 0;
  left: 0%;
  width: 100%;
  background: var(--primary-background);
}

.header {
  --header-padding: 1.125rem 1.5rem;
  width: 100%;
  max-width: 1200px;
  padding: var(--header-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > * {
  display: flex;
  align-items: center;
}

/* spacing between nav and toggle */
.header > * > * + * {
  margin-left: 1.5rem;
}

@media (max-width: 1024px) {
  .header {
    --header-padding: 1rem 1rem;
  }
}

/* nav item spacing */
.nav li + li {
  /* reset the global settings */
  margin-top: 0;
  margin-left: 1rem;
}

.nav a {
  padding: 0.25rem 0.625rem;
  border-radius: var(--border-radius);
}

.nav a:hover,
.active {
  background: linear-gradient(
        to right,
        var(--corner-color) 2px,
        transparent 2px
      )
      0 0,
    linear-gradient(to right, var(--corner-color) 2px, transparent 2px) 0 100%,
    linear-gradient(to left, var(--corner-color) 2px, transparent 2px) 100% 0,
    linear-gradient(to left, var(--corner-color) 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, var(--corner-color) 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, var(--corner-color) 2px, transparent 2px) 100% 0,
    linear-gradient(to top, var(--corner-color) 2px, transparent 2px) 0 100%,
    linear-gradient(to top, var(--corner-color) 2px, transparent 2px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 6px 6px;
}

.nav a:not(.active):hover {
  --corner-color: var(--foreground-low);
}

.active {
  --corner-color: var(--primary-accent);
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }
}
