.header {
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 0;
  width: 100%;
  max-width: var(--max-layout-width);
  transform: translateX(-50%);
  padding: var(--content-x-padding);
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    background: var(--primary-white);
  }

  * {
    font-weight: 600;
  }

  h4 {
    margin-bottom: 0;
    margin-right: 0.25rem;
    font-size: 1rem;
    text-transform: capitalize;
  }

  > div {
    display: flex;
    align-items: center;
  }

  .navigation {
    a {
      margin-left: 1rem;
      color: var(--primary-black);
      text-decoration: none;
      font-size: 1rem;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.home {
  text-decoration: none;
  color: var(--primary-black);
  margin-right: 1rem;
}

.shortcut {
  img {
    margin: 0 0.25rem 0 0;
  }

  span {
    font-size: 2rem;
    line-height: 0.5;
    padding: 0 0.5rem;
  }
}

.shortcut {
  display: flex;

  div {
    display: flex;
    align-items: center;
  }
}

.breadcrumbs,
.shortcut {
  @media (max-width: 767px) {
    display: none;
  }
}

.menuButton {
  border: none;
  padding: 0;
  background: none;
  line-height: 0;

  @media (min-width: 768px) {
    display: none;
  }

  img {
    margin: 0;
  }
}
