.sidebar {
  grid-area: sidebar;
  position: relative;
}

.sticky {
  position: sticky;
  top: 72px;
}

.sticky > section {
  display: grid;
  cursor: pointer;
}

.sidebar h4 {
  color: var(--primary-accent);
}

.sidebar span {
  display: block;
  font-size: 1rem;
  color: var(--primary-accent);
  font-weight: 600;
  margin-bottom: 1.45rem;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.bar span {
  margin: 0;
}

.title {
  font-size: 1rem;
  color: var(--primary-accent);
}

.description {
  color: var(--primary-foreground);
}

@media (min-width: 768px) {
  .sticky {
    height: calc(100vh - 147px);
    display: flex;
    flex-direction: column;
  }

  .sticky > section {
    overflow-y: scroll;
  }
}
