.sidebar {
  grid-area: sidebar;
  align-self: flex-start;
  position: relative;
}

@media (min-width: 768px) {
  .sidebar {
    position: sticky;
    top: var(--top);
    max-height: calc(100vh - 6rem);
    overflow-y: scroll;
  }
}

/* .sticky {
  position: sticky;
  top: 72px;
}

.sticky > section {
  display: grid;
}

.sidebar h4 {
  color: var(--primary-accent);
}

.sidebar span {
  display: block;
  margin-bottom: 1.45rem;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.bar span {
  margin: 0;
}

.title,
.sidebar span,
.accordion {
  font-weight: 600;
}

.title,
.sidebar span {
  font-size: 1.125rem;
  color: var(--primary-accent);
}

.description {
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-foreground);
}

@media (min-width: 768px) {
  .sticky {
    height: calc(100vh - 72px);
    display: flex;
    flex-direction: column;
  }

  .sticky > section {
    overflow-y: scroll;
  }
}

.accordion {
  position: sticky;
  top: 60px;
  background: var(--primary-background);
  z-index: 5;
  margin-top: -1.45rem;
}

.accordion:active {
  outline: none;
}

.accordion summary {
  font-size: 1rem;
  color: var(--primary-accent);
  padding: 0 0 0.75rem;
  outline: none;
}

.accordion summary + * {
  padding-top: 0.7rem;
  max-height: 60vh;
  overflow-y: scroll;
}

@media (max-width: 767px) {
  .title {
    grid-area: title;
    margin-bottom: 0;
  }
  .description {
    grid-area: description;
  }
  .accordion {
    grid-area: context;
    margin-bottom: -0.75rem;
  }
} */
