.footer {
  grid-area: footer;
  position: relative;
  margin: 1rem auto 0;
  padding-top: 1rem;
  width: 100%;
  border-top: 1px solid var(--foreground-low);
  display: grid;
  grid-template-areas:
    'pages divider social'
    'built built built'
    'copyright copyright copyright';
  grid-template-columns: 1fr 1px 1fr;
  justify-items: center;
  align-items: center;
  font-weight: 500;
  background: var(--primary-background);
}

.footer div :is(p, a) {
  margin-bottom: 1.45rem;
}

.pages,
.social {
  margin-top: 1.45rem;
}

.pages {
  grid-area: pages;
  display: flex;
  flex-direction: column;
}

.divider {
  width: 100%;
  height: 75%;
  background: var(--foreground-low);
}

.social {
  grid-area: social;
  position: relative;
}

.built {
  grid-area: built;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

.built * {
  margin-bottom: 0;
}

.built svg {
  margin-right: 0.5rem;
}

.built span {
  padding: 0 1rem;
}

.copyright {
  margin-bottom: 1rem;
  grid-area: copyright;
  color: var(--foreground-medium);
}

@media (max-width: 767px) {
  .footer {
    grid-template-columns: 0.5fr 1px 1fr;
  }
}
