.footer {
  padding: 1.5rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: var(--max-layout-width);
  display: flex;
  justify-content: space-between;
  z-index: 5;

  @media (max-width: 1024px) {
    display: none;
  }

  img {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    background: var(--primary-black);
    cursor: pointer;
  }

  p {
    font-weight: 500;
    color: var(--primary-dark-grey);
  }

  * {
    margin-bottom: 0;
  }
}
