.footer {
  padding: 1.5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    display: none;
  }

  img {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    background: var(--primary-black);
    cursor: pointer;
  }

  p {
    font-weight: 500;
    color: var(--primary-dark-grey);
  }

  * {
    margin-bottom: 0;
  }
}
