/* TODO: simplify this */
.footer {
  grid-area: footer;
  position: relative;
  margin-top: 4rem;
  padding: 1.5rem 0;
  width: 100%;
  border-top: 1px solid var(--foreground-min);
  display: grid;
  grid-template-areas:
    'pages divider social'
    'meta meta meta';
  grid-template-columns: 1fr 1px 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
  justify-items: center;
  align-items: center;
}

.links {
  width: fit-content;
}

.divider {
  width: 100%;
  height: 75%;
  background: var(--foreground-min);
}

.built {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

.built * {
  margin-bottom: 0;
}

.built svg {
  margin-right: 0.5rem;
}

.built span {
  padding: 0 1rem;
}

.copyright {
  margin-bottom: 1rem;
  color: var(--foreground-high);
}

@media (max-width: 767px) {
  .footer {
    grid-template-columns: 0.5fr 1px 1fr;
  }
}
