.search {
  position: relative;
}

.search svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  pointer-events: none;
}

.search input {
  background: none;
  padding-left: 1.25rem;
  border: none;
  box-shadow: 0px 1px 0px 0px var(--primary-background);
  width: 1.25rem;
  height: 1.75rem;
  cursor: pointer;
  transition: all 200ms ease-in-out, border 500ms ease-out;
  font-size: 0.875rem;
  color: var(--primary-foreground);
}

.search input:focus {
  width: 9rem;
  box-shadow: 0px 1px 0px 0px var(--primary-accent);
}
