.container,
.container-fluid {
  grid-gap: var(--grid-gap);
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 720px;
  padding: var(--container-padding) 1.0875rem 0;
}

.container-fluid {
  width: 100%;
  max-width: var(--max-layout-width);
  margin: 0 auto;
  padding: var(--container-padding) var(--content-x-padding) 0;
}

.sidebarLayout {
  display: grid;
  grid-template-columns: var(--grid-columns);
  grid-template-areas: var(--grid-areas);
}

@media (max-width: 767px) {
  .sidebarLayout {
    grid-template-columns: 1fr;
  }
}
