.cover .year,
.cover .genre {
  font-size: 0.875rem;
  color: var(--foreground-high);
  line-height: var(--alt-line-height);
}

.cover .year {
  margin-bottom: 0.25rem;
}

.cover p {
  margin-bottom: 0;
}

.image {
  margin-bottom: 0.5rem;
}

.rating {
  display: inline-block;
  position: relative;
  color: var(--primary-accent);
}

.stars {
  display: flex;
  overflow: hidden;
  width: 20%;
}

@media (max-width: 767px) {
  .cover .year,
  .cover .genre {
    font-size: 0.75rem;
  }
}
