.rating {
  color: var(--primary-accent);
  align-self: flex-start;
}

.stars {
  display: flex;
  overflow: hidden;
}

@media (max-width: 767px) {
  .cover .year,
  .cover .genre {
    font-size: 0.75rem;
  }
}
