@media (max-width: 767px) {
  .resources {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    ms-overflow-style: none;
  }

  .resources::-webkit-scrollbar-track,
  .resources::-webkit-scrollbar,
  .resources::-webkit-scrollbar-thumb {
    width: 0 !important;
  }
}
