.commandMenu {
  position: absolute;
  bottom: 5rem;
  width: 80%;
  max-width: 800px;
  background: var(--primary-foreground);
  color: var(--primary-background);
  padding: 0.8rem 2rem 2rem;
  z-index: 9999999999;
  user-select: all;
  left: 0;
  right: 0;
  margin: 5% auto;
  border-radius: var(--border-radius);
}

.commandMenu th,
.commandMenu td {
  border-color: var(--primary-foreground);
}
