.resource-card {
  text-decoration: none;
  color: var(--primary-foreground);
  position: relative;
  cursor: pointer;
}

.resource-card {
  display: block;
  padding: 1rem;
}

.resource-card div {
  display: flex;
  align-items: center;
}

.resource-card h3,
.resource-card svg {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.resource-card svg {
  display: none;
}

.resource-card p {
  margin-bottom: 0;
}

.resource-card:hover {
  background: var(--foreground-min);
}

.resource-card:hover svg {
  display: block;
}
